# Maven / Java
/target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
*.log
*.tmp

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Eclipse
.classpath
.project
.settings/

# macOS
.DS_Store

# Build
/build/

# Others
*.class

